*
{
    padding: 0;
    margin: 0;
}
/*Nav bar*/
a{
    text-decoration: none;
    font-family: sans-serif;
    color: white;
}
#nav
{
    background-color: rgb(222, 11, 230);
}
.space
{
    width: 100%;
    height:10rem;
    margin: 0;

    background-color: rgb(221, 11, 230);
}
/* Css for Main section*/
main{
    margin-top: -8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.title-text
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-left: 10vw;
}

.title-text h1{
    font-family:cursive
   }
.title-text h2{
    opacity:0.8;
   }
   .title-text h5{
    opacity: 0.7;
   }
.title-img
{
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*css for skill section */
section
{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
.section_heading{
     padding: 2rem 0;
    text-align: center;
}

/*-------------Project----------------*/
.project
{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: center;
}

/*--------------Contact section---------*/
.contact
{
    width: 100%;
    height: 40vh;
    background-color: rgb(222,11,230);
    color: black;
    margin-top: 2rem;
}
.contact h1{
    text-align: center;
    padding-top: 2rem;
    font-size: 2.5rem;
}
.contact ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items:left;
    
}
.contact span{
    color: blue;
}
/* ------------- Footer ------------- */
  
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(222, 11, 230);
    color: var(--grey);
    padding: 20px 0 0 10px;
    font-size: 1rem;
  }
  
  #contact a img {
    width: 32px;
    height: 32px;
    margin: 4px;
  }
  
  #contact {
    margin: 1%;
  }
  /*-----------media query---------------*/
  @media(max-width:568px)
  {
    .contact h5{
       font-size: 1rem;

    }
  }
