.footer_container
{
    padding:0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem;
    margin-top: 1rem;
}

.footer_name
{
   display: flex;
   flex-direction: column;
   gap: 0;

}
.footer_name h3{
    margin-bottom: 0;
    
}
.footer_socials
{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.footer_icons{
   display: flex;
   flex-direction: row;
   gap:1rem;
}

.h3
{
    text-align: center;
}

